
td {
	font-size: 12px;
}

.footer {
	background-color: #eee;
	padding: 10px;
	margin-top: 10px;
}

#error_box {
	display: none;
}

#success_box {
	display: none;
}

#templates {
	display: none;
}

.row_template{
	display: none;
}